<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>


  





    <section id="topper">

      <div class="sticky">
        <div class="video-background">
          <div class="video-foreground">
            <iframe src="https://player.vimeo.com/video/332803117?background=1" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      






      <div class="title">
        <div>
          <p>The Salinas Valley on California’s Central Coast feeds America.</p>
        </div>
      </div>

      <div class='spacer'>
        <p>Sixty percent of the nation’s lettuce and many other fruits and vegetables are grown here.</p>
      </div>

      <div class='spacer'>
        <p>But in recent years another crop has begun to flourish.</p>
      </div>

      <div class='spacer'>
        <p>One that could have severe immigration consequences for anyone who works with it and is not a U.S. citizen..</p>
      </div>

      <div class='spacer'>
        <p>Cannabis.</p>
      </div>


    </section>


    <section id="intro">
      
      <h1>Smoke & Mirrors</h1>

      <article>
        <p>After 28 years picking strawberries Lupe was ready to leave the fields. She answered a job posting on Facebook and was directed to a greenhouse outside Salinas. Her first day trimming cannabis began before dawn in January 2017.</p>
        <p>She was shocked by what she found inside the greenhouse. The heat hit her first and then the aroma, acrid and thick. After a five-minute lesson on how to trim a cannabis bud she was given a pair of pruning scissors. Wearing the clothes she arrived in, she set to work. </p>
        <p>Heaters inside the greenhouse kept the plants at an optimal temperature, but the workers suffered. &ldquo;It almost gave you a heart attack,&rdquo; Lupe says. Her head began to throb. Several times she felt like she was going to pass out. At the end of the day she was warned not to take even a single leaf home. &ldquo;They treated us worse than in the fields,&rdquo; she says. &ldquo;They treated you like a slave.&rdquo;</p>
        <p>Lupe&rsquo;s first day working in cannabis was also her last. When she left her clothes were sticky with resin from the plants. The smell followed her home. She thought about it long after she had washed it from her hair.</p>
        
        <div class="inline-asset">
         <img src="./assets/lupe_horizontal.jpg" align="right">
         <div class="caption">Lupe, a strawberry picker, tried working in cannabis for one day but couldn't tolerate the heat and odor of the cannabis plants.</div>
        </div>
        <p>&ldquo;If you smell like marijuana and the police stop you, they&rsquo;re going to think you are selling it, you&rsquo;re smoking it or that you&rsquo;re involved in something. If the police stop you . . . just imagine . . .&rdquo; she says, two years later.</p>
        <p>Lupe was born in Michoac&aacute;n, Mexico, and came to the United States in 1991 when she was 18. She has been living without documentation since then. She has a visa application in progress, one her lawyer thinks could take four or five years to decide. &nbsp;Now she&rsquo;s worried the day she spent working in the greenhouse could impact her ability to stay in the U.S.</p>
      </article>

      <hr>

    </section>


    <section>
     
      <article>
        <p>Cannabis has been legal for adult recreational consumption in California since January 1, 2018. But the rollout of legalization has been rocky. Industry and lawmakers have clashed over cultivation and dispensary licensing and the rules governing everything from packaging to delivery have undergone many painstaking rounds of revisions. State Sen. Mike McGuire has likened the situation to trying to build an airplane while it is already flying. There are approximately 66,000 cannabis jobs in California according to a Leafly.com survey, a small increase since legalization. But for some people entering the industry, working with a product that is illegal at the federal level casts a long shadow.</p>

  
      <div class="inline-asset">
          <div class="embed-container">
              <iframe src="https://player.vimeo.com/video/332380595?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="caption">Cannabsis trimmers are skilled workers, many of whom can process between one and two pounds of cannabis flower in a day.</div>
      </div> 







        <p>Non-citizens working with cannabis could be at risk of deportation,  regardless of whether they live or work in a state that permits medical or recreational use. In April 2019 the city of Denver announced that two U.S. permanent residents, green card holders who thought they had a clear path to citizenship, had their application denied by the U.S. Citizenship and Immigration Services (USCIS) because of&ldquo;<a href="https://www.denvergov.org/content/denvergov/en/mayors-office/newsroom/2019/legal-cannabis-work-being-used-against-denver-immigrants-to-crus.html">past or current employment in the cannabis industry</a>.&rdquo;</p>
        <p>On April 19,<a href="https://www.uscis.gov/sites/default/files/policymanual/updates/20190419-ControlledSubstanceViolations.pdf">USCIS released a policy alert</a> to clarify that;</p>
        <p>&ldquo;violation of federal controlled substance law, including for marijuana, remains a conditional bar to establishing good moral character of naturalization even where that conduct would not be an offense under state law.&rdquo;</p>
        <p>In November 2018, some Canadian cannabis executives were denied entry to the U.S. while travelling to an industry expo in Las Vegas. Outside of the Colorado examples, reports of immigration services taking notice of cannabis are rare, except in the case of people with prior criminal convictions. Full legalization has received bipartisan support and several Senate bills have been introduced trying to change  federal law. But the future is hard to predict.</p>
        <p>California was the first state in the U.S. to outlaw cannabis, in 1915.  In 1996 it became the first to permit medical use. Voters approved recreational use by a 57-43 margin on November 8, 2016, the same day President Donald Trump was elected. On January 1, 2018, California joined the states of Alaska, Colorado, Oregon and Washington, and the District of Columbia, in legalizing cannabis.</p>
        <p>Trying to second guess the current administration’s cannabis goals is difficult. Trump’s position toward cannabis legalization was positive in the early days of his candidacy but has become more negative since assuming office. Employers and investors have to contend with a legislative framework that is still being codified. Labor unions, attorneys and consultants are grappling with the future of an industry that is predicted to be worth $6 billion in California by 2021. </p>
        <p>And uncertainty is everywhere.</p>
        <div class="inline-asset">
         <img src="./assets/Cannabis_16.jpg">
         <div class="caption">Newly-built cannabis greenhouses in Greenfield, California.</div>
        </div>

      </article>

    </section>

    <section>
     
      <article>
        <p>The Salinas Valley on the Central Coast of California is one of the places in the state where cannabis growing is booming. Local government has embraced cannabis and approved more licenses to grow cannabis than almost any other county in California. There’s already a large population of immigrants, many of them undocumented, working in agriculture. The median hourly wage for an agricultural worker from Salinas in 2017 was $13.24,<a href="https://www.bls.gov/regions/west/news-release/occupationalemploymentandwages_salinas.htm">according to the Bureau of Labor Statistics</a>, 5% below the average U.S. farm worker.</p>
        <p>This is John Steinbeck country. The winner of the Nobel Prize in Literature was born in Salinas in 1902 and his most prominent works are set here. The population then was just under 4,000 but in 2017 it was close to 160,000. Steinbeck might not recognize his birthplace now but the issues he wrote about – poverty, inequality, harassment and xenophobia – still confront people here today. The itinerant workforce he described so famously in ‘The Grapes of Wrath’ came from the southern states of the U.S. Now the region’s migrant workers mostly come from Mexico.</p>
        <div class="inline-asset">
         <img src="./assets/fields_1.jpg">
         <div class="caption">An agricultural worker walks across a field outside of Soledad, California.</div>
        </div>

        
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Magnolia Zarraga, a Salinas-based immigration lawyer, has clients working in the cannabis industry. Her counsel is simple: cannabis is a federally controlled substance and exposure to it could have serious implications for their immigration status.</p>
        <p>&ldquo;Sometimes they have no idea that there could be a potential risk to them,&rdquo; she says. &ldquo;There&rsquo;s a whole population that is completely unaware of what harm they&rsquo;re doing to their own cases by working in this industry.&rdquo;</p>
        <p>&ldquo;You could maybe never encounter ICE at your place of work,&rdquo; Zarraga says. &ldquo;But the fact that it merely comes up on your [visa or citizenship] application that you worked in the cannabis industry, that could be enough to trigger the consequences.&rdquo;</p>

        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Manolo Rios, 37, is a chef based in Salinas. He was delivering food the first time he visited a cannabis grow, Monterey Botanicals. The plants intrigued him; they were beautiful, he thought. He asked if they had any work and was told to report back the next day.</p>
        <p>He wasn’t a smoker, but the smell of the weed seemed to relax him. The work was easy and conditions were good. Every shift started with communal stretching exercises, “because of how we use the scissors.” Any late comers were made to do the exercises independently.</p>
        <p>The greenhouse was hot but workers were encouraged to step outside and take regular water breaks. Protective clothing was provided. Whenever investors visited the facility the atmosphere tightened, music was turned off and chatter ceased. Outside of these moments of tension the greenhouse was a pleasant place to work and they paid in cash. But Rios has quit.</p>
        <div class="inline-asset">
         <img src="./assets/manolo.jpg">
         <div class="caption">Manolo Rios, a former cannabis worker worries that his experience in the cannabis industry may impact his immigration status.</div>
        </div>
        <p>“You risk a lot there,” he says. “Because they are going to pay by check, and I do not want it to affect my situation.”</p>
        <p>Rios has an immigration case pending and his lawyer has advised him against working with cannabis. It is difficult to leave the work behind, though. “People here, locals, are already getting used to people who smell,” he says. “Because if I go to the store I smell more than a person who smokes. There are people who step away, it feels like they are discriminating against you. It’s ugly. But it is changing.”</p>
        <p>CCannabis was not greeted enthusiastically in all Central Coast communities, with protests in some municipalities, but Rios believes that a change in federal legislation would soften these attitudes. “People will get used to it because there will be more work there than in the fields,” he says. “The only thing I would not like is to lose my documents. If it is legalized, maybe it would work.”</p>

        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>In the early 1900s Japanese immigrants started growing flowers in greenhouses in the Salinas Valley. The steady climate, rarely breaking 60-75 degrees, consistent sun, sparse cloud and absence of fog, was perfect. The flowers flourished.</p>
        <div class="inline-asset">
         <img src="./assets/Greenhouses_1.jpg">
         <div class="caption">Empty greenhouses by the side of a road in Salinas. Since the legalization of cannabis, previously abandoned greenhouses have been repurposed from their former role housing flowers.</div>
        </div>
        <p><a href="https://www.smithsonianmag.com/travel/the-secrets-behind-your-flowers-53128/">In 1971 the U.S. produced 1.2 billion flowers</a>, many of them grown in this small pocket of California. By 2001 the U.S. imported 2 billion blooms and grew 200 million domestically. NAFTA and the ill-fated war on drugs were blamed for the emigration of the California flower trade to Latin America.</p>
        <p>Andy D&rsquo;Amico says he was the first cannabis cultivator to take advantage of the land and greenhouses on the Salinas Valley floor. He has worked in cannabis for more than 20 years, starting out in the Santa Cruz mountains, straddling the worlds of medical and recreational weed.</p>
        <p>D&rsquo;Amico is the founder of Pacific Reserve Nursery, a facility with approximately 254,000 square feet of cultivation space, a couple of miles east of the 101 Highway, just south of Salinas. He says that nearly $7 million has been invested in the facility but is less sure about when a return on that figure might materialize. &ldquo;We can't estimate it because it's just so unknown,&rdquo; he says. &ldquo;There's too many variables to predict anything in this industry right now.&rdquo;</p>
        <p>One wall of D’Amico’s office is covered with official looking paper. “You look at all my licenses right there,” he says. “I don't even have a full-time license yet. You know, those are all temporary licenses. That's how incipient we are to it all, you know. It’s crazy. Every one of those is $25,000 just to keep it every year.”</p>
        <div class="inline-asset">
          <div class="embed-container">
              <iframe src="https://player.vimeo.com/video/332380361?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="caption">Nearly one quarter of households in Monterey County rely on income from agricultural work.</div>
      </div>

        <p>D’Amico laments the attitude among some legislators. “All they’re thinking is, ‘Cannabis is money, right?’ Because that’s what everybody thinks when you read anything about it.” Cannabis prices have fluctuated recently but are on a broad downward trend since medical marijuana saw prices surge. In 2015 a pound of weed in California might have sold for $1,500 but in 2019 the average is closer to $500.</p>
        <p>The majority of Pacific Reserve staff are hired through a contractor. They are paid a starting rate of $15 per hour with rates increasing depending on the skill and complexity of their role. United Food and Commercial Workers Union reps have visited the facility but the Pacific Reserve staff are not unionized.</p>
        <p>Unemployment in Salinas peaks at around 11% in the winter months according to Labor Bureau statistics. &ldquo;We keep most of our employees year-round,&rdquo; D&rsquo;Amico says. &ldquo;You're working in a greenhouse, rather than out in the field, which shuts down and is very seasonal. So here they get consistency.&rdquo;</p>

        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        
        <p>The epicenter of California cannabis cultivation was traditionally the counties of Humboldt, Mendocino and Trinity in the north of the state that together came to be known as the Emerald Triangle. Hippies and people looking to live off the land or escape urban life took advantage of cheap, secluded and readily available land. These migrants brought cannabis with them and the mountainous topography, away from prying eyes and difficult for law enforcement to access, made ideal growing conditions. What started out as a lifestyle choice quickly became a major driver of the local economy. This was the perfect place to grow an illicit plant. The Emerald Triangle was soon providing not just the state, but much of the country, with weed.</p>
        
        <p>California is the largest cannabis market in the U.S. Although a year after legalization, as much as 80% of production remains in the illicit market, according to estimates from New Frontier Data. Tax revenues for the first year were $355 million, way below initial estimates, with many blaming the way licenses are awarded for holding the industry back. When Proposition 64 passed in 2016 some analysts put the potential tax yield in California at $1 billion. Gov. Gavin Newsom’s first budget predicted cannabis tax revenues of $514 million for the 2019-20 financial year.</p>

         
        <div class="dataviz inline-asset">
          <div class="dataviz-wrapper">
            <img src="assets/scroll_graphics/4_monterey_co_text.png">
            <img src="assets/scroll_graphics/3_san_bar_text.png">
            <img src="assets/scroll_graphics/2_em_tri_text.png">
            <img src="assets/scroll_graphics/1_ca_co.png">
          </div>
        </div> 


        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Cannabis attorney Jennifer Rosenthal was born in Monterey County and practices from an office above a dispensary in Carmel-by-the-Sea just off Highway 1. Business has been strong for her over the last year but some of her clients, cannabis companies trying to establish a foothold in the Central Coast market, have found life under legalization more challenging.</p>
        <p>An aspiring cannabis cultivator in California has to apply for licenses at the state, county and city level. They must satisfy stringent criteria from the Department of Fish and Wildlife and the State Water Board before receiving final approval from CalCannabis, the weed arm of the Department of Food and Agriculture, for a cultivation license. “What we have to do to get these licenses is insane,” says Rosenthal. “It’s like they want to know when your mother’s brother from another mother lost their first tooth. It is so extensive.”</p>
        <div class="inline-asset text-wrap-photo">
         <img src="./assets/cultivation_license_paperwork.JPG">
         <div class="caption">Stacks of paper for a single cultivation license application.</div>
        </div>
        <p>There are fees at each step of the legislative process and a completed application can easily reach six figures. Everyone wants a slice of the cannabis pie.</p>
        <p>California is currently handling a backlog of license applications and there is widespread fear that many temporary licenses could expire before replacements are issued. A bill, sponsored by Sen. McGuire, that would allow the state to extend expiring licenses is heading to the state Assembly after being passed by the Senate. Cannabis producers in the regulated market are operating under a cloud of uncertainty that permeates the rest of the industry.</p>
        <p>&ldquo;It&rsquo;s very hard to advise,&rdquo; says Rosenthal. &ldquo;It&rsquo;s just evolving and things are all over the place. There&rsquo;s a lot of gray areas. It could have been rolled out better.&rdquo;</p>
        
        <p>Despite headlines about billion-dollar investments and IPOs on the Canadian stock market the first year of cannabis legalization has been stressful for many of those trying to establish themselves in the regulated market. &ldquo;Financially, people are definitely struggling,&rdquo; Rosenthal says.</p>

        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        <p> The town of Greenfield, 35 miles south of Salinas, was little more than a green field when Steinbeck was writing. The 2017 population was 17,517, according to census data. In busier months of the agricultural calendar this jumps by another 10-15,000 as itinerant workers arrive to tend the fields. The median household income is approximately $46,000, roughly 25% less than in Salinas. Greenfield is 90% Hispanic and 67% of the town’s population are U.S. citizens.</p>
        <p>During the day strollers outnumber cars on the roads in Greenfield. The streets are named after trees, fruits and nuts (Oak, Apple, Walnut) and lead quickly to the surrounding fields.  This is a town built atop farmland.</p>
        <p>The oil crisis of the mid 2000s killed Rob Jimenez’ trucking business. He swam against the tide for a while but moved to Greenfield, to stay with his brother, after losing his house. He didn’t speak Oaxacan, like many Greenfield residents who had migrated from the south of Mexico. He applied for numerous jobs before taking a position with a cannabis company, Loudpack, in early 2018.</p>
        <p>Jimenez, 59, started in a menial position on the extraction team. After a month he was promoted to the trimming room. On his first day he was given a brief trimming demonstration and then shown to a table piled high with bud. There were approximately 15 tables, with two trimmers stationed at each. The trimmers were given a daily target of 1-1.5 lbs. of manicured cannabis buds. Achieving this goal took almost every moment of an eight-hour shift. Mandated 15-minute breaks shrunk to five. Lunch was gobbled down in less than 30.</p>
         <div class="inline-asset">
         <img src="./assets/Jimenez.jpg">
         <div class="caption">Rob Jimenez, a former trimmer, was fired from his position just before beginning to receive benefits.</div>
        </div> 
        <p>Cameras monitored the trimmers constantly, while supervisors prowled the trimming tables barking out instructions, admonishments or reprimands. Workers were told to keep their hands above the tables at all times and not to talk in the trimming room.</p>
        <p>Jimenez joined the UFCW soon after he was hired. This antagonized his employers, he says. “They didn’t want to hire me because, well, I’m American. I’m legal to work here. And I would ask more questions than they wanted.” He wanted to know when workers would get benefits, pay raises and promotions?</p>
        <p>&ldquo;I didn&rsquo;t take shit from any of the supervisors,&rdquo; he says. He was paid $15 per hour as a trimmer and wanted to use his previous experience as a chef to work in the edibles division, infusing candy and gum with cannabis extract.</p>
        <div class="inline-asset">
         <img src="./assets/Cannabis_11.jpg">
         <div class="caption">A basket full of cannabis flowers next to a pair of trimming scissors soaking in a cup. Trimmers will rotate through several pairs of scissors as they become sticky with resin from the plant.</div>
        </div> 

        <p>The Loudpack facility dominates the town. It is located on Cherry Avenue, across the road from the Greenfield police department and City Hall. It dwarfs both of them. Security fences surround the complex. Inside a line of modern looking greenhouses sit next to a three story, metallic office building. The front gates are thick and black. Security guards wait for employees behind heavy turnstiles.</p>
        <p>Jimenez and the other trimmers were searched four times each day. First as they entered the complex, then again after they changed into their uniforms and again when they left the trimming room and finally, when they departed the facility.</p>
        <p>On the eve of his three-month anniversary, Jimenez was called to see an HR manager who told him he was being let go. &ldquo;She gave me my paperwork &ndash; my walking papers &ndash;and the security took me out,&rdquo; Jimenez says. He thought she might have been pretending to cry. He was disappointed but not surprised. He had seen this happen before.</p>
        <p>In the six months after January 1, 2018, Loudpack fired 189 people, according to city statistics seen by UFCW organizer Juan Cervantes. Jimenez believes that the Loudpack workforce averaged approximately 300 people during the period he worked there, from February to April, 2018. “They were getting rid of 25 to 30 a week,” he says.</p>
        <p>No response was received from multiple emails to Loudpack.</p>

       <div class="inline-asset">
         <img src="./assets/Cannabis_13.jpg">
         <div class="caption">A cutout of a farmer holding heads of lettuce off Highway 68. The Salinas Valley is referred to as the 'salad bowl of the world.'</div>
        </div> 
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Organized labor has played a prominent role in the recent history of the Central Coast.  Juan Cervantes has worked for UFCW for most of his adult life. He marched with Cesar Chavez and worked for the legendary organizer for eight years. He has watched cannabis enter the Central Coast with increasing skepticism.</p>
        <p>Any cannabis business in California with more than 20 non-supervisory employees is required to enter into a ‘labor peace agreement ‘with a union allowing them to enter their premises and speak with workers. Some operations allow union reps to enter, others fight to keep them out. The union has filed several complaints with the local Agricultural Labor Relations Board including for unfair dismissal, intimidation, wage theft and refusal of access at businesses across the Salinas Valley.</p>
        <p>Cervantes is worried about the future for workers making the move from traditional agriculture to cannabis. He fears that they are being enticed with promises of high wages and better working conditions that don’t materialize and likens the situation to the Spanish conquest of the Aztec kingdom in modern-day Mexico. “This industry is full of shit,” he says. “It’s just mirrors.” In an ambiguous industry, unions, Cervantes believes, could provide workers with protection and certainty.</p>

        <div class="inline-asset">
         <img src="./assets/Cannabis_02.jpg">
         <div class="caption">Fast foods signs perch over the main street in Soledad, a town between Salinas and Greenfield. The unemployment rate in Monterey County is more than twice the rate in California.</div>
        </div> 
        
      </article>

    </section>


    

    <section>
     
      <article>
        <p>Carlos Sanchez, 29, is a Salinas native. Since January 2019 he has worked as a handyman for Grupo Flor, a Salinas based cannabis company. But this isn’t his first job in cannabis. In December 2017 a contractor hired him to work at INDUS, a Salinas-based supplier of edible cannabis products. His starting wage was $11 per hour. Within two weeks he was taken on full time by INDUS and his pay increased to $12 per hour. Shortly after he was made a floor lead and his pay leapt to $16 per hour, a 33% increase. “I was like hey, that’s like a life changer, I could breathe a little bit,” he says.</p>
        <p>Sanchez’ new position carried a responsibility that he neither wanted nor enjoyed; he was made to fire people. He was excited when a colleague mentioned unionizing. They contacted UFCW, which began advising them. Clandestine conversations led to a vote among the staff that passed by a resounding measure.</p>
        <p>As news reached the INDUS hierarchy Sanchez says he was immediately demoted. His promised pay increase was frozen. “That was when I knew something was definitely wrong,” he says. “That it was not right and there needs to be a big brother in this to back up people like that.”</p>
        <p>Sanchez enjoyed working with cannabis, but the atmosphere had changed. He no longer felt comfortable. After a couple of weeks, he quit. With UFCW’s help Sanchez, together with five other former colleagues, took his case to the National Labor Relations Board and was awarded eight months of retroactive pay.</p>
        <p>“What they did was wrong and unlawful,” he says. “I didn’t know you could get in trouble for starting a union, which is illegal – you can’t punish anybody for doing that. I’m just glad that those management are now in check. Because they were just running amok, they did not care at all. I like that the unions are there and I hope that they stay there.” Sanchez now earns $18 per hour at Grupo Flor.</p>
        
        <div class="inline-asset">
          <div class="embed-container">
              <iframe src="https://player.vimeo.com/video/332380294?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="caption">Not everyone supports the booming cannabis industry in Monterey County. In Greenfield a local church provides teenagers with education and resources about cannabis in an attempt to discourage them from consuming it.</div>
          </div>
      </div>

        <p>Sanchez can remember when cannabis was much less prominent on the Central Coast. Most of the local population, enthused by the thought of increased wages and tax revenues, support the arrival of this new industry, he says. It offers opportunities that traditional agriculture does not. There is a minority of the local population who remain more skeptical. “Very, very old ladies, we call them ‘senoras,’” Sanchez says. “If you talk about weed or anything they are like, ’No, don’t talk about it. That’s weed, that’s illegal, just don’t.’”</p>

        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Kelly McMillan was the chief of the Salinas Police Department for five years until 2017. After he retired, he became the chief compliance officer for INDUS, Sanchez’s former employer.</p>
        <p>Early in his police career, McMillan was on a SWAT team that helicoptered in to rural cannabis grows with machine guns and machetes to clear illicit crops. Friends and former law enforcement colleagues like to joke that he has gone from “top cop to pot cop.” He has seen attitudes and policies toward cannabis change significantly. “The war on drugs was kind of an abject failure,” he says.</p>
        <p>Cannabis compliance positions are typically held by attorneys. McMillan is responsible for ensuring that INDUS respects regulations from nearly 20 governmental bodies. The way the legal market is regulated in California could be fueling the illicit cannabis trade. It has certainly not gone away or shrunk during the first year of legalization.</p>
        <p>&ldquo;Legal, tested, clean cannabis in dispensaries can be close to 50% more expensive than the guy who&rsquo;s got an illegal delivery business and is selling his cannabis off [delivery app] Weedmaps,&rdquo; McMillan says.</p>
        <p>INDUS uses a credit union to issue paychecks. Previously, employees, including executives, were paid in cash. Because cannabis is illegal at the federal level, banks are reluctant or unable to service the industry. While this might suit some individual workers, McMillan is worried it might also leave them vulnerable to crime.</p>
        <p>&ldquo;This was an issue that we saw in the undocumented community,&rdquo; he says. &ldquo;Agricultural workers were reluctant to go out and get bank accounts, because they thought that would expose them. You have all these folks walking around on payday with all that cash, and they make great victims of crime.&rdquo;</p>
        <p>Regarding the unionization of their manufacturing facility, INDUS, said it is negotiating with the union.“We are having good conversations on behalf of our employees and are confident that progress will continue in a positive direction,” the company said in an email. “Furthermore, regulated cannabis market conditions in California were the sole reason INDUS Holding Co. had to adjust its workforce. With the health of the market improving, staffing levels have increased and we will continue to evaluate the business and the overall industry in months to come.”</p>


        <hr>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>The East of Eden cannabis dispensary occupies the corner of John and Work streets in Salinas. It stocks more than 800 products, including oils, candies, concentrates, beverages, tinctures, pipes, vapes and 80 different strains of cannabis. Pots of bud are placed on shelves for customers to sniff and assess the merits of particular brands and strains, with a jar of coffee beans on hand should anyone need to cleanse their nasal palette. The polished pine interior and iPad-clutching sales staff make it look like an Apple store or progressive bank. There are armed security guards at the door.</p>
        <p>On a sunny morning in April, the dispensary is busy. Three gray-haired women laugh about having their ID checked as they enter the lobby. &ldquo;I&rsquo;ve been 21 for 40 years,&rdquo; one says. East of Eden is owned by Grupo Flor.</p>

       <div class="inline-asset">
          <div class="embed-container">
              <iframe src="https://player.vimeo.com/video/332380498?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="caption">Produce fields cover four times the acreage of pavement and buildings in Monterey County.</div>
          </div>
      </div>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Gavin Kogan is the founder and chairperson of Grupo Flor, and a former attorney. He says the company tells prospective employees at the start of the recruitment process that working in cannabis could have consequences for their immigration status.</p>
        <p>&ldquo;Feasibly, federal government can raid us,&rdquo; Kogan says. &ldquo;Feasibly all these people could be arrested and thrown into federal jails for working cannabis. So that's something we have to disclose to everybody. &lsquo;If you have any immigration issues, this could fuck you up.&rsquo;&rdquo;</p>
        <p>Grupo Flor started out acquiring land in the Salinas Valley to rent to cannabis cultivators. They found former flower growers, abandoned greenhouses and dilapidated farms that hadn&rsquo;t seen investment for years. Kogan saw that as well as infrastructure the Salinas Valley also had an abundance of labor. &ldquo;We realized, &lsquo;Holy shit, we've got all this work opportunity for these people,&rsquo;&rdquo; he says.</p>
        
      </article>

    </section>

    <section>
     
      <article>
        <p>Margarita Vargas was born in the Salinas Valley. She graduated high school in Greenfield in 2014 and went to work in the fields.  Starting at sunrise, she would pick lettuce, spinach, grapes, whatever was in season, until darkness came. Her parents had migrated from Mexico and worked the fields, so did many of her friends. At night she ignored her aching body and took college classes. She wanted to be a dental hygienist or a dermatologist, something that would get her out of the fields. Her career ambitions have changed recently.</p>
        <p>In 2018, she attended a career fair in Salinas. She was offered a job as a sales floor supervisor at East of Eden and began work there in November 2018. She earns $18 per hour. When she started in the fields she was paid $9 per hour. After four years, this had risen to $12. “What was I doing in the fields?” she wonders now. “My body was tired, I was exhausted every day.” She still takes college classes, but the 23-year-old s likes working with cannabis and now she’s considering switching her major to business.</p>
        <div class="inline-asset">
         <img src="./assets/Greenfield_sized.jpg">
         <div class="caption">In Greenfield 4% of adults over 25 in 2017 had a batchelor's degree.</div>
        </div> 
        <p>Sanchez and Vargas are a couple. They are both excited by the opportunities cannabis is bringing to the Central Coast and the people who work there.</p>
        <p>Vargas is happy that she made the move to cannabis. Her only regret is that she didn’t make it sooner.</p>
        <p>“As a field worker, I feel so thankful for this industry that has helped people get out of the fields,” she says. Sanchez’s experience of working in weed has been both bitter and sweet. “I would advise anyone to join the marijuana industry,” he says. “But make sure you’re joining the right team.”</p>

        <hr>
        
      </article>

    </section>
 
  

  <script src="app.js" async></script>  
  <%= t.include("partials/_footer.html") %>
  <%= t.include("partials/_analytics.html", grunt.data.json) %>

</body>
</html>